{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello visitor!</h1>

    We haven't started working on our frontend yet.
    But if you want you can look at our api:
    <ul>
        <li>GitHub: <code><a href="{{ 'https://github.com/lazybytez/otaku-index' }}">https://github.com/lazybytez/otaku-index</a></code></li>
        <li>Wiki / Documentation: <code><a href="{{ 'https://github.com/lazybytez/otaku-index' }}">https://github.com/lazybytez/otaku-index/wiki</a></code></li>
        <li>Endpoints: <code><a href="{{ '/api' }}">/api</a></code></li>
    </ul>
</div>
{% endblock %}
